#imagem{ 
margin-left: -7rem;
min-width: 117%;
height: 60vh;
}
 
 
.second-title{
 margin-top: 2rem;
 text-align: center;
 margin-left: -5rem;
 font-size: 2rem;
 color: black;
 font-family:Arial, Helvetica, sans-serif;

}
