<!DOCTYPE html>

<html>

    <head>

        <title>Home</title>
       
        <link rel="stylesheet" href="css/home.css">

        <%- include('../partials/links'); %>
        

    </head>


    <body>
       
        <%- include('../partials/header'); %>
       
        <div>
            <img src="https://media.iatiseguros.com/wp-content/uploads/sites/6/2021/01/18124032/Iati-Seguros-Visitar-Copenhaga.jpg" alt="Copenhagen" class="img-fluid">
        
        
        </div>  
          
        <br>
        <br>

        </div>  
        <div>
            <h1 class="display-3 second-title">Latest Blogs</h1>
        </div>         

    

    <div id="footer">
        <%- include('../partials/footer'); %>
     </div>
      
    </body>
    
   
</html>
 